[submodule "external/gqten"]
	path = external/gqten
	url = git@github.com:sun-rongyang/graceq-tensor-ng.git
[submodule "external/nlohmann_json"]
	path = external/nlohmann_json
	url = https://github.com/nlohmann/json.git
